.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.container .title {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.25;
}

.form {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form .submit-button {
  margin-top: 15px;
}

.text {
  margin-left: 5px;
  color: var(--green-300);
  font-weight: 600;
  text-decoration: none;
}

.text:hover {
  color: var(--green-500);
}
