@font-face {
  font-family: "Wotfard";
  font-display: block;
  src: url("/fonts/wotfard-regular.woff2") format("woff2"),
    url("/fonts/wotfard-regular.ttf") format("truetype"),
    url("/fonts/worfard-regular.eot") format("embedded-opentype");
}
